# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#以上摘自：https://github.com/github/gitignore/blob/main/C%2B%2B.gitignore
#一下是自己添加。

*.suo
*.vc.db
*.ipch
*.sarif
*.xml
*.txt
*.log
*.ilk
*.res
*.tlog
*.idb
*.tlh
*.tli
*.pdb
*.obj.enc
*.recipe
*.pchast
*.recipe
*.exp
*.lastcodeanalysissucceeded

x64/
.vs/
Debug/
Release/